{%extends 'base.html'%}
{% block contents%}

<body>
    <div class="container">
        <div class="alert alert-info" role="alert">
            <h2>총 {{blogs.count}}개의 블로그 글이 있습니다</h2>
            <h2>총 {{blogs.count}}개의 블로그 글이 있습니다</h2>
        </div>

        <br><br><br>
  

        {% for blog in posts %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{blog.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date.month}}</h6>
                <p class="card-text">{{blog.summary}}...</p>
                <a href=" {%url 'detail' blog.id%} ">more</a>
            </div>
        </div>
        <br><br>
        {%endfor%}

        <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
             
            {% if i != posts.paginator.num_pages%}
              
              <li class="page-item"><a class="page-link" href="#">1</a></li>
             
              {%endif%}

              <!-- <li class="page-item active" aria-current="page">
                <span class="page-link">
                  2
                  <span class="sr-only">(current)</span>
                </span>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li> -->
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
          
        {# First Previous #}

        {%if posts.has_previous%}
        <a href="?page=1">First</a>
        <a href="?page={{posts.previous_page_number}}">Previous</a>
        {%endif%}
        
        {# 3of4 #}

        <span>{{posts.number}}</span>
        <span>of</span>
        <span>{{posts.paginator.num_pages}}</span>
        
        {# Next Last #}

        {%if posts.has_next%}
        <a href="?page={{posts.next_page_number}}">Next</a>
        <a href="?page={{posts.paginator.num_pages}}">Last</a>
        {%endif%}

    </div>

</body>

</html>
{% endblock %}